uploads/*
serendipity_config_local.inc.php
.cvsignore
/.htaccess*
*.db
private/*
archives/*
*~
DEADJOE
plugins/additional_plugins*
templates/previews.sh
/.settings
/.buildpath
/.project
.DS_Store
.editorconfig
*.git
tests/phpunit.xml
Thumbs.db
