/*
  Sadly firefox and chrome engines count node IDs differently in textareas,
  which for the BASIC emptied image toolbar group is DOM ID 28/62 in FF/IE is 29/66 in Chrome.
  Every change pushing the nodes hast to get corrected here! Last change 2017.08.11
*/

/* hide empty image toolgroup in toolbar BASIC (do not remove the span tag!) */
#cke_1_top span#cke_28, #cke_2_top span#cke_62 {
    display: none;
    visibility: hidden;
    width: 0 !important;
}
/* on Safari and Chrome webkit engines */
@media screen and (-webkit-min-device-pixel-ratio:0)
{
    #cke_1_top span#cke_29, #cke_2_top span#cke_66  {
        display: none;
        visibility: hidden;
        width: 0 !important;
    }
}