/*
  CKEDITOR Toolbar tweak to hide the cke-image widget buttons.
  Continues to support the internal image widget functionality needed for S9y-MediaLibrary inserts,
  but disables these button to eyes, if USER is not using the CKE PRESET Toolbar!
  Last change 2017.08.11
*/

#cke_1_top .cke_toolgroup a.cke_button__image,
#cke_2_top .cke_toolgroup a.cke_button__image {
    display: none !important;
    visibility: hidden;
    height: 0 !important;
    padding: 0 !important;
    border-radius: 0 !important;
}
/* hide next sibling separator */
#cke_1_top .cke_toolgroup a.cke_button__image~.cke_toolbar_separator,
#cke_2_top .cke_toolgroup a.cke_button__image~.cke_toolbar_separator {
    display: none;
    visibility: hidden;
    margin: 0px;
    height: 0px;
    width: 0px;
}
