/**
 * Adds custom Serendipity image float styles to CKEDITOR wysiwyg-mode v.1.2 on 2017-08-04
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

img,
audio, video,
embed, object { max-width: 100%; }

img, video { height: auto; }

.serendipity_image_left,
.serendipity_image_right,
.serendipity_image_center,
.serendipity_imageComment_center,
.serendipity_imageComment_left,
.serendipity_imageComment_right {
    background: transparent;
    border: 0 none;
    padding: 0 !important;
}

.serendipity_image_left,
.serendipity_image_right,
.serendipity_imageComment_left,
.serendipity_imageComment_right {
    display: block;
    float: none;
    margin: 0 0 1em;
}

.serendipity_image_center {
    display: block;
    margin: 0 auto 1em auto;
}

.serendipity_imageComment_center {
    display: block;
    margin: 0 auto 1em auto;
}

.serendipity_imageComment_img img {
    border: none !important;
    margin: 0 !important;
}

.serendipity_imageComment_txt {
    border-top: 0 none;
    color: #222;
    font-size: .8125em;
    line-height: 1.8462;
    padding: .2301em;
    text-align: center;
}

.serendipity_imageComment_center,
.serendipity_imageComment_left,
.serendipity_imageComment_right {
    height: auto;
    max-width: 100%;
}

.serendipity_imageComment_center {
    margin: auto !important;
}

.serendipity_image_left {
    float: left;
    margin: 0 2em 1em 0;
}

.serendipity_image_right {
    float: right;
    margin: 0 0 1em 2em;
}

.serendipity_imageComment_left {
    display: inline;
    float: left;
    margin: 0 2em 1em 0;
}

.serendipity_imageComment_right {
    display: inline;
    float: right;
    margin: 0 0 1em 2em;
}

/* Gallery-Container: This is used to enclose a gallery, using serendipity_image_left or _right floated images */
.serendipity_image_block {
    clear: both;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/* Gallery-Size: This sizes the origin single-line image gallery to be used as a real multi-item image container */
.serendipity_image_block {
    flex: auto;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-flow: row wrap;
    align-items: flex-start; /* the default is stretch, internally used by Chrome when flexing direct child images */
    justify-content: space-around; /* IE10+ CSS fallback, since -evenly not supported */
    justify-content: space-evenly;
    margin-bottom: 1em;
}
/* The inline containers or items min/max size to scale gallery images to a effordable size */
.serendipity_image_block .serendipity_imageComment_left,
.serendipity_image_block .serendipity_imageComment_right,
.serendipity_image_block .serendipity_image_link,
.serendipity_image_block > .serendipity_image_left,
.serendipity_image_block > .serendipity_image_right {
    min-width: 100px;
    max-width: 260px;
}
/* direct item styles forced */
.serendipity_image_block > .serendipity_image_left,
.serendipity_image_block > .serendipity_image_right {
    max-width: 260px !important; /* since having to force the inline style */
}
/* Workaround styles for older Chrome. Direct images manually wrapped inside a simple unstyled container - generic div preferred */
.serendipity_image_block > div:not([id]):not([class]):not([style]),
.serendipity_image_block > span:not([class]):not([style]) {
    min-width: 100px;
    max-width: 260px;
}
/* Gallery-Size: end */

/* Gallery-Margins: the default margins for all default level 1 gallery items (direct containers or direct items) */
.serendipity_image_block > .serendipity_imageComment_left,
.serendipity_image_block > .serendipity_imageComment_right,
.serendipity_image_block > .serendipity_image_link,
.serendipity_image_block > .serendipity_image_left,
.serendipity_image_block > .serendipity_image_right {
    display: inline-block; /* the former inline does as well but this is better I assume */
    margin: .5em 0 0 0;
}
/* same for manually helper containers */
.serendipity_image_block > div,
.serendipity_image_block > span,
.serendipity_image_block > div .serendipity_image_left,
.serendipity_image_block > div .serendipity_image_right,
.serendipity_image_block > span .serendipity_image_left,
.serendipity_image_block > span .serendipity_image_right {
    display: inline-block; /* the former inline does as well but this is better I assume */
    margin: .5em 0 0 0;
}
.serendipity_image_block > .serendipity_image_left,
.serendipity_image_block > .serendipity_image_right,
.serendipity_image_block  .serendipity_image_link {
    margin: .5em 0 0 0; /* no display here! */
}
/* webkit (all) hack */
.serendipity_image_block > .serendipity_imageComment_left .serendipity_image_link:not(*:root) {
    display: table-row; /* A Chrome fix to automatically size the link (level 2) container without any additionally thrown space around the inner scaled image */
}
/* Gallery-Margins: end */
