*,*:before, *:after {
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}

@-ms-viewport {
  width: device-width;
}

img {
    border: 0;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
}

embed, object, audio, video, img {
    max-width: 100%;
}

video, img {
    height: auto;
}

a, a:visited {
  color: #993300;
  text-decoration: none;
}

a:hover {
  color: #cc3300;
  text-decoration: underline;
}

pre {
    width: auto;
    min-width: 20em;
    display: inline-block;
}

body {
  background-color: #f0f0f0;
  color: #000000;
  font-family: sans-serif;
  line-height: 20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

p, td, th, div, span {
  vertical-align: top;
}

p {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hypens: auto;
    hyphens: auto; }
p code, p samp, p kbd {
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hypens: none;
    hyphens: none; }

#content {
  width: auto;
}

#mainpane {
  width: 100%;
}

#serendipity_banner {
  background-color: #dddddd;
  border-bottom: dashed 1px #000080;
  width: 100%;
}

a.homelink1,
a.homelink1:hover,
a.homelink1:link,
a.homelink1:visited,
#serendipity_banner h1 {
  color: #666666;
  font-size: x-large;
  font-weight: bold;
  margin-top: 0px;
  padding-left: 20px;
  padding-top: 5px;
  text-decoration: none;
}

a.homelink2,
a.homelink2:hover,
a.homelink2:link,
a.homelink2:visited,
#serendipity_banner h2 {
  color: #aaaaaa;
  font-size: large;
  font-weight: bold;
  padding-left: 20px;
  text-decoration: none;
}

#serendipityRightSideBar {
  background-color: #f0f0f0;
  border-left: 1px dashed #4068ab;
  border-bottom: 1px dashed #4068ab;
  vertical-align: top;
  width: 22%;
}

#serendipityLeftSideBar {
  background-color: #f0f0f0;
  border-right: 1px dashed #4068ab;
  border-bottom: 1px dashed #4068ab;
  vertical-align: top;
  width: 18%;
}
#serendipityLeftSideBar > .serendipitySideBarItem,
#serendipityRightSideBar > .serendipitySideBarItem {
  margin: 10px 10px 12px;
  padding: 0 10px 10px;
}

div.serendipitySideBarTitle {
  font-size: small;
  font-weight: bold;
  margin-bottom: 8px;
}

div.serendipitySideBarItem {
  background-color: #e6eaee;
  border: 1px dashed #d0d0d0;
  font-size: x-small;
}

.serendipity_entry {
  background-color: #e6eaee;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}
div.serendipity_Entry_Date {
  background-color: #e6eaee;
  border: 1px dashed #d0d0d0;
  margin: 10px;
  padding: 10px;
  width: auto;
}

img.serendipity_entryIcon {
    float: right;
    border: 0px;
}

.serendipity_title {
  border: 1px;
  color: #1a3c5a;
  font-weight: bold;
  margin-bottom: 8px;
  margin-top: 8px;
  padding-left: 20px;
}

.serendipity_title a:link,
.serendipity_title a:visited {
  border: 0;
  color: #000000;
  text-decoration: none;
}

.serendipity_title a:hover {
  color: #cc3300;
}

.serendipity_date {
  color: #000080;
  display: block;
  font-weight: bold;
  text-align: right;
  width: 100%;
}

.serendipity_commentsTitle {
  background-color: #f2f4f6;
  border: 0px;
  color: #404040;
  display: block;
  font-size: small;
  padding-left:8px;
  width: 100%;
}

.serendipity_time {
  display: block;
  font-size: large;
  font-weight: bold;
  margin-top: 8px;
}

td.serendipity_commentsLabel {
  font-size: small;
  font-weight: bold;
  vertical-align: top;
  width: 10%;
}

td.serendipity_comment {
  color: #404040;
  font-size: small;
  margin-bottom: 12px;
  padding-left:8px;
}

.serendipity_comment_source {
  margin-top: 5px;
}

.serendipity_comment {
  padding-top: 1em;
  overflow: auto;
}

td.serendipityEntriesBox {
  background-color: #ffffff;
  padding: 10px;
  margin: 10px;
}

table.serendipity_calendar td {
  font-size: small;
  padding: 3px;
}

table.serendipity_calendar a {
  font-weight: bold;
  text-decoration:none;
}

table.serendipity_calendar a:hover {
  text-decoration:underline;
}

td.serendipity_weekDayName {
  background-color: #dddddd;
  font-size: small;
  font-weight: bold;
}

div.serendipityPlug, div.serendipityPlug a {
  font-size: small;
}

img.serendipityImageButton {
  cursor: hand;
}

div.serendipity_entryFooter {
  clear: both;
  color: #000000;
  font-size: x-small;
  padding-top: 5px;
  padding-bottom: 4px;
  display: block;
}


/** Embedded images with the s9y image manager **/
.serendipity_imageComment_center,
.serendipity_imageComment_left,
.serendipity_imageComment_right {
    border: 1px solid black;
    background-color: #EFEFEF;
    margin: 3px;
}

.serendipity_entry p > .serendipity_image_left,
.serendipity_entry p > .serendipity_imageComment_center,
.serendipity_entry p > .serendipity_image_right {
    margin: .25em auto; }

.serendipity_imageComment_center {
    margin: 0px;
}

.serendipity_imageComment_left {
    float: left;
}

.serendipity_imageComment_right {
    float: right;
}

.serendipity_imageComment_img,
.serendipity_imageComment_img img {
    margin: 0px;
    padding: 0px;
    border: 0px;
    text-align: center;
}

.serendipity_imageComment_txt {
    margin: 0px;
    padding: 3px;
    clear: both;
    font-size: 9pt;
    text-align: center;
}

.comments_by_author .serendipity_title {
    padding-left: .25em;
}
.serendipity_comments {
}
.comments_permalink {
    margin-left: 1em;
}
.serendipity_comment_author_self .serendipity_comment_source .pc-owner,
.serendipity_comment_author_self .comment_header .pc-owner {
    background: #3e5f81e6;
    padding: .1em .25em;
    border-radius: 3px;
    color: #efefef;
    text-shadow: 1px 1px 2px #222;
}
.serendipity_entryFooter,
.comments_by_author_pagination {
    text-align: center;
}
.comments_by_author_pagination.top {
    margin-top: 1em;
}
.serendipity_entryFooter,
.comments_by_author_pagination.bottom {
    margin-top: 2em;
}

.serendipity_center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.serendipity_msg_important {
    color: #ff4136;
}

.serendipity_msg_success,
.serendipity_msg_notice {
    color: #2ecc40;
}

.serendipity_entry_author_self {}

.serendipity_comment_author_self {
    background-color: #f2f4f6;
}


/*** Additional plugin styles needed for the modernized output code ***/
/*** added by Matthias 'YellowLed' Mees                             ***/

.plainList {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.container_serendipity_plugin_authors .serendipitySideBarContent div {
    margin: 5px 0;
    padding-left: 0;
}

.serendipity_history_author { font-weight: bolder; }

.serendipity_history_intro,
.serendipity_history_info { margin-bottom: 3px; }

.serendipity_history_body { margin-bottom: 10px; }

.serendipity_recententries_entrylink { margin-bottom: 2px; }

.serendipity_recententries_entrydate { margin: 0 0 4px 0; }

.plugin_comment_body { padding: 3px 0; }

.serendipity_shoutbox_date { margin: 5px 0 2px 0; }

.serendipity_shoutbox_comment { padding: 3px 0; }

/*** End Additional plugin styles ***/
