/* ICON FONT: http://fortawesome.github.com/Font-Awesome/ */
@font-face {
  font-family: 'fontello';
  src: url('font/fontello.eot?70021285');
  src: url('font/fontello.eot?70021285#iefix') format('embedded-opentype'),
       url('font/fontello.woff?70021285') format('woff'),
       url('font/fontello.ttf?70021285') format('truetype'),
       url('font/fontello.svg?70021285#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    opacity: 1;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
}

.icon-home:before { content: '\e800'; }
.icon-cog-alt:before { content: '\e801'; }
.icon-tag:before { content: '\e802'; }
.icon-edit:before { content: '\e803'; }
.icon-ok-circled:before { content: '\e804'; }
.icon-plus:before { content: '\e805'; }
.icon-minus:before { content: '\e806'; }
.icon-cw:before { content: '\e807'; }
.icon-ccw:before { content: '\e808'; }
.icon-help-circled:before { content: '\e809'; }
.icon-info-circled:before { content: '\e80a'; }
.icon-down-dir:before { content: '\e80b'; }
.icon-chat:before { content: '\e80c'; }
.icon-trash:before { content: '\e80d'; }
.icon-resize-full-alt:before { content: '\e80e'; }
.icon-logout:before { content: '\e80f'; }
.icon-move:before { content: '\e810'; }
.icon-cancel:before { content: '\e811'; }
.icon-rss:before { content: '\e812'; }
.icon-attention-circled:before { content: '\e813'; }
.icon-toggle-off:before { content: '\e814'; }
.icon-toggle-on:before { content: '\e815'; }
.icon-th:before { content: '\e816'; }
.icon-filter:before { content: '\e817'; }
.icon-resize-full:before { content: '\e818'; }
.icon-menu:before { content: '\e819'; }
.icon-sort:before { content: '\e81a'; }
.icon-picture:before { content: '\e81b'; }
.icon-user:before { content: '\e81c'; }
.icon-users:before { content: '\e81d'; }
.icon-folder-open:before { content: '\e81e'; }
.icon-search:before { content: '\e81f'; }
.icon-up-dir:before { content: '\e820'; }
.icon-globe:before { content: '\e821'; }
.icon-clock:before { content: '\e822'; }
.icon-medkit:before { content: '\e823'; }
.icon-list-bullet:before { content: '\e824'; }
.icon-thumbs-up-alt:before { content: '\e825'; }
.icon-thumbs-down-alt:before { content: '\e826'; }
.icon-left-dir:before { content: '\e827'; }
.icon-right-dir:before { content: '\e828'; }
.icon-th-list:before { content: '\e829'; }
.icon-block:before { content: '\e82a'; }
.icon-to-end:before { content: '\e82b'; }
.icon-rocket:before { content: '\e82c'; }
.icon-to-start:before { content: '\e82d'; }

 /* MESSAGES */
.msg_error,
.msg_success,
.msg_notice,
.msg_hint {
    margin: 1.5em 0;
    padding: .5em;
}

.installer .msg_error,
.installer .msg_success,
.installer .msg_notice,
.installer .msg_hint {
    display: inline-block;
    margin: .5em 0;
    padding: 0 .5em;
}

.msg_error {
    background: #f2dede;
    border: 1px solid #e4b9b9;
    color: #b94a48;
}

.msg_success {
    background: #dff0d8;
    border: 1px solid #c1e2b3;
    color: #468847;
}

.msg_notice {
    background: #fcf8e3;
    border: 1px solid #fbeed5;
    color: #c09853;
}

.msg_hint {
    background: #eee;
    border: 1px solid #aaa;
    color: #777;
}

/* preview iframe styles only */

/* on save and preview actions */

body {
    padding: 0;
    margin: 0;
}

#page {
    border: 0 none;
    margin: inherit;
    width: 100%;
    box-shadow: 0 none;
}

#content {
    padding: 1em .5em;
    margin: 0;
}

#content .xsave_preview_sizing {
    float: left;
    height: 75px
}

/* don't tyle content for preview */
#content {
    width: 100%;
}
