
body.welcome,
#content.welcome {
  background-color: #E9E9E9;
}
/* @kudos to Max Boeck, Vienna, AT */
.home {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2rem;
  width: 100%;
  max-width: 1140px;
  margin: auto;
  padding: 0;
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  .home__item:first-child {
    grid-column: span 2;
  }
}
.card {
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  min-height: 100%;
  -webkit-transition: -webkit-transform .1s ease-in;
  transition: -webkit-transform .1s ease-in;
  transition: transform .1s ease-in;
  transition: transform .1s ease-in, -webkit-transform .1s ease-in;
  background-color: white;
  text-decoration: none;
  color: #222;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.card:hover, .card:focus {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.16);
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}
.card__image img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__content {
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-flex: 1;
  -ms-flex: 1;
      flex: 1;
  padding: 1rem;
}
.card__title {
  margin: 0;
}
.card__body {
  -webkit-flex: 1;
  -ms-flex: 1;
      flex: 1;
}
.card__news {
    margin: 1rem;
}
.card__footer {
  font-size: .75rem;
  color: #666;
  font-weight: 600;
}
.card__footer .tag {
  text-transform: uppercase;
}

@media screen and (min-width: 480px) {
    .media_object_container {
        margin-right: 1em;
        width: 50%;
        float: left;
    }
    .media_object_container::after {
        clear: left;
    }
}
