/* This is the templates/default/style_fallback.css file.
   It emits CSS rules that all templates should have.
   Classes are declared on top of the file, so if you
   want to make changes in your own template, you
   should override the rules on the bottom of your
   style.css template.
   IT IS NOT ADVISED TO CREATE YOUR OWN style_fallback.css FILE! */

/* default sizing for specific form element */
input[type="button"], input[type="checkbox"] {
    width: auto;
}

picture {
    display: block;
}

figure {
	text-align: center;
	border: solid 1px #ccc;
	border-radius: 2px;
	background: rgba(0,0,0,0.05);
	padding: 10px;
	margin: 10px 20px;
	display: inline-block;
}

figure > figcaption {
	text-align: center;
}

#serendipity_error_top {
    position: relative;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: auto;
    max-height: 8rem;
    overflow-x: auto;
    padding: .5rem;
    border-bottom: 1px solid #e4b9b9;
    background: #f2dede;
    color: #b94a48;
    text-align: left;
}

/* Default image classes for left/right/usual layout */
.serendipity_image_center {
    border: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

.serendipity_image_left {
    float: left;
    border: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

.serendipity_image_right {
    float: right;
    border: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

/* Default listing without spacers */
.plainList {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

/* Messages: centered, important, success, notice */
.serendipity_center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.serendipity_msg_important {
    color: #ff4136; /* new red */
}

.serendipity_msg_success {
    color: #2ecc40; /* new green */
}

.serendipity_msg_notice {
    color: #6495ed; /* new cornflowerblue */
}

/* Embedded images with comments inside the s9y image manager */
.serendipity_imageComment_center,
.serendipity_imageComment_left,
.serendipity_imageComment_right {
    border: 1px solid #ddd;
    background-color: #efefef;
    margin: 3px;
    padding: 3px;
    text-align: center;
    max-width: 100%;
}

.serendipity_imageComment_center {
    clear: both;
    margin: auto;
}

.serendipity_imageComment_left {
    float: left;
}

.serendipity_imageComment_right {
    float: right;
}

.serendipity_imageComment_img,
.serendipity_imageComment_img img {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.serendipity_imageComment_txt {
    border-top: 1px solid #ddd;
    margin: 0px;
    padding: 3px;
    clear: both;
    font-size: 10px;
    text-align: center;
}

/* this and that */
table.archives_listing {
    display: table;
    width: auto;
    border-collapse: separate;
    border-spacing: 4px; }
    .archives_row td {
        padding: 4px; }
        td.archives_graph img {
            height: 1em;
            border: 1px solid #000; }

ul#serendipity_categories_list {
	margin: 0;
	padding: 0;
	list-style-type: none; }

.serendipity_calendar {
    width: 100%; }

/* disable s9ymarkup, gravatar, spamblock markup and emoticate hooked text messages in contact-form template files, having at least this staticpage_plugin_contactform selector */
.staticpage_plugin_contactform .serendipity_comment_emoticate,
.staticpage_plugin_contactform .serendipity_comment_gravatar,
.staticpage_plugin_contactform .serendipity_comment_s9ymarkup,
.staticpage_plugin_contactform .serendipity_comment_spamblock {
    display: none;
    visibility: hidden;
}

.serendipity_image_link {
    display: initial; }
/* Gallery-Container: default (fallback for no rows, no cols) */
.serendipity_image_block,
.serendipity_image_block .serendipity_image_link {
    display: inline-block;
}
/* Gallery-Container: default (fallback for rows and cols) */
.serendipity_image_block.row,
.serendipity_image_block.col {
    display: inline-block;
}

/* Gallery-Container: per row order, flexed */
/* This is used to enclose a gallery, using serendipity_image_left or _right floated images */
.serendipity_image_block.row {
    clear: both;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/* Gallery-Size: This sizes the origin single-line image gallery to be used as a real multi-item image container */
.serendipity_image_block.row {
    flex: auto;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-flow: row wrap;
    align-items: flex-start; /* the default is stretch, internally used by Chrome when flexing direct child images */
    justify-content: space-around; /* IE10+ CSS fallback, since -evenly not supported */
    justify-content: space-evenly;
    margin-bottom: 1em;
}

/* The inline containers or items min/max size to scale gallery images to a affordable size */
.serendipity_image_block.row .serendipity_imageComment_left,
.serendipity_image_block.row .serendipity_imageComment_right,
.serendipity_image_block.row .serendipity_image_link,
.serendipity_image_block.row > .serendipity_image_left,
.serendipity_image_block.row > .serendipity_image_right {
    min-width: 100px;
    max-width: 260px;
}
.serendipity_image_block.row  .serendipity_image_left,
.serendipity_image_block.row  .serendipity_image_right {
    max-width: 260px !important; /* Make sure nobody resizes an images in the editor - overwrite inline style width */
    width: auto !important;
}
/* Workaround styles for older Chrome. Direct images manually wrapped inside a simple unstyled container - generic div preferred */
.serendipity_image_block.row > div:not([id]):not([class]):not([style]),
.serendipity_image_block.row > span:not([class]):not([style]) {
    min-width: 100px;
    max-width: 260px;
}

/* Gallery-Container: by columns, vertically ordered, screen sized 3:2:1 and 4:3:2 */
/* SMALL SCREENS */
.serendipity_image_block.col {
    column-count: 1;
    column-gap: .187rem;/*3*/
    justify-content: space-evenly;
}
.serendipity_image_block.col.c4 {
    column-count: 2;
}
.serendipity_image_block.col .serendipity_image_link .serendipity_image_left {
    margin: auto auto .187rem;
}
/* MEDIUM SCREENS */
@media only screen and (min-width: 552px) {
    .serendipity_image_block.col {
        column-count: 2;
        column-gap: .312rem;/*6*/
    }
    .serendipity_image_block.col.c4 {
        column-count: 3;
    }
    .serendipity_image_block.col .serendipity_image_link .serendipity_image_left {
        margin: auto auto .5em;
    }
}
/* DEFAULT SCREENS */
@media only screen and (min-width: 768px) {
    .serendipity_image_block.col {
        column-gap: .5rem;/*9*/
        column-fill: balance;
    }
    .serendipity_image_block.col.c2 {
        column-count: 2;
    }
    .serendipity_image_block.col.c3 {
        column-count: 3;
    }
    .serendipity_image_block.col.c4 {
        column-count: 4;
    }
}
/* DEFAULT SCREEN COL4 */
@media only screen and (min-width: 1024px) {
    .serendipity_image_block.col.c4 {
        column-count: 4;
    }
}

.serendipity_image_block.col .serendipity_imageComment_left,
.serendipity_image_block.col.c2 .serendipity_imageComment_left,
.serendipity_image_block.col .serendipity_imageComment_right,
.serendipity_image_block.col.c2 .serendipity_imageComment_right,
.serendipity_image_block.col .serendipity_image_link,
.serendipity_image_block.col.c2 .serendipity_image_link,
.serendipity_image_block.col > .serendipity_image_left,
.serendipity_image_block.col.c2 > .serendipity_image_left,
.serendipity_image_block.col > .serendipity_image_right,
.serendipity_image_block.col.c2 > .serendipity_image_right {
    display: table;
    vertical-align: middle;
    margin: auto;
    float: unset;
}
/* Gallery-Size: end */

/* Gallery-Margins: the default margins for all default level 1 gallery items (direct containers or direct items) */
.serendipity_image_block > .serendipity_imageComment_left,
.serendipity_image_block > .serendipity_imageComment_right,
.serendipity_image_block > .serendipity_image_link,
.serendipity_image_block > .serendipity_image_left,
.serendipity_image_block > .serendipity_image_right {
    margin: 5px 0 0 0;
}
/* same for manually helper containers */
.serendipity_image_block > div,
.serendipity_image_block > span,
.serendipity_image_block > div .serendipity_image_left,
.serendipity_image_block > div .serendipity_image_right,
.serendipity_image_block > span .serendipity_image_left,
.serendipity_image_block > span .serendipity_image_right {
    margin: 5px 0 0 0;
}
.serendipity_image_block:not(.col):not(.row) > .serendipity_image_left,
.serendipity_image_block:not(.col):not(.row) > .serendipity_image_right {
    margin: 10px 10px 0 0; /* so that a direct child image behaves like a containerized image - and the top/right is 2x5px */
}
/* webkit (all) hack */
.serendipity_image_block > .serendipity_imageComment_left .serendipity_image_link:not(*:root) {
    display: table-row; /* A Chrome fix to automatically size the link (level 2) container without any additionally thrown space around the inner scaled image */
}
/* Some special care when inside a link or comment container, to not break the "auto" left and top margin by the justify-content (i.e. in Next and Default themes) */
.serendipity_image_block .serendipity_imageComment_left,
.serendipity_image_block .serendipity_imageComment_right {
    margin-right: -2px;
    border: 0 none !important;
}
.serendipity_image_block .serendipity_imageComment_left .serendipity_imageComment_img,
.serendipity_image_block .serendipity_imageComment_right .serendipity_imageComment_img {
    border: 0 none !important;
}
/* Gallery-Margins: end */

/* Disables spamblock and other user notifications for the adduser plugin forms, since more or less needed for comment or contact forms only */
#adduserform .serendipity_comment_emoticate,
#adduserform .serendipity_comment_s9ymarkup,
#adduserform .serendipity_comment_spamblock {
    visibility: hidden;
    display: none;
}

/* END OF style_fallback.css */
