/**
 * Adds custom Serendipity image float styles to CKEDITOR wysiwyg-mode v.1.12 on 2020-02-06
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

img,
audio, video,
embed, object { max-width: 100%; }

img, video { height: auto; }

picture {
    display: block;
}

hr {
    clear: both;
    display: block;
    margin-bottom: 1.5rem
}
p > a.serendipity_image_link {
    display; initial;
}
p > img.serendipity_image_left,
p > img.serendipity_image_right {
    display: table-cell;
}
.cke_widget_wrapper {
    display: inline-block;
}

.serendipity_image_left,
.serendipity_image_right,
.serendipity_image_center,
.serendipity_imageComment_center,
.serendipity_imageComment_left,
.serendipity_imageComment_right {
    background: transparent;
    border: 0 none;
    padding: 0 !important;
}

.serendipity_image_left,
.serendipity_image_right,
.serendipity_imageComment_left,
.serendipity_imageComment_right {
    display: block;
    float: none;
    margin: 0 0 1em;
}

.serendipity_image_center {
    display: block;
    margin: 0 auto 1em auto;
}

.serendipity_imageComment_center {
    clear: both;
    display: block;
    margin: 0 auto 1em auto;
}

.serendipity_imageComment_img img {
    border: none !important;
    margin: 0 !important;
}

/* Auto scales 400px left and right oriented image thumbs with floated text - DOES NOT touch smaller defined images, which is perfect! */
.cke_editable .serendipity_imageComment_left,
.cke_editable .serendipity_imageComment_right,
.cke_editable p .serendipity_image_left,
.cke_editable p .serendipity_image_right {
  max-width: 46%; }

.cke_editable .serendipity_imageComment_center {
    width: auto;
    max-width: 100%;
    display: block; /* force overwrite delivered inline styles */
}
/* Awaiting a thumb size of 400px or more, inclusive the size of all given containers, like ckeditor, form, etc., we set this 5o 483px which expands thumbs to 400px.
   Set back to a block element for big screens, since we don't want the commentbox to expand into space. This was tested with an image of 1000px width. Others may vary! */
@media screen and (min-width: 483px) {
    .serendipity_imageComment_txt {
        width: 100%;
        margin: 0 -2px;
    }
}

.serendipity_imageComment_txt {
    border-top: 0 none;
    color: #222;
    font-size: .8125em;
    line-height: 1.8462;
    padding: .2301em;
    text-align: center;
}

.serendipity_imageComment_img > .serendipity_image_link {
    display: block;
    margin: .25em auto;
}

/* inherit keeps inner margins, else set auto or initial */
.serendipity_imageComment_img {
    margin: auto; }

/* The image parent comment box responsiveness for mobile screens - touches all: old styled and new "figure" styled. */
.serendipity_imageComment_center,
.serendipity_imageComment_left,
.serendipity_imageComment_right {
    display: block;
    height: auto;
    width: auto;
}

/* No 100% max as of certain grids */
.serendipity_image_left,
.serendipity_image_right {
    max-width: 99.9%;
}
/* Fix image comment grids - expand images to container */
source.serendipity_image_left,
source.serendipity_image_right {
    display: contents;
}

.serendipity_image_left {
    float: left;
    margin: 0 1em .5em 0;
}

.serendipity_image_right {
    float: right;
    margin: 0 0 .5em 1em;
}

.serendipity_imageComment_left {
    display: inline;
    float: left;
    margin: 0 1em .5em 0;
}

.serendipity_imageComment_right {
    display: inline;
    float: right;
    margin: 0 0 .5em 1em;
}

.serendipity_image_link {
    display: initial;
}
/* Gallery-Container: This is used to enclose a gallery, using serendipity_image_left or _right floated images */
.serendipity_image_block.row {
    clear: both;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/* Gallery-Size: This sizes the origin single-line image gallery to be used as a real multi-item image container */
.serendipity_image_block.row {
    flex: auto;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-flow: row wrap;
    align-items: flex-start; /* the default is stretch, internally used by Chrome when flexing direct child images */
    justify-content: space-around; /* IE10+ CSS fallback, since -evenly not supported */
    justify-content: space-evenly;
    margin-bottom: 1em;
}
/* The inline containers or items min/max size to scale gallery images to an affordable size */
.serendipity_image_block.row .serendipity_imageComment_left,
.serendipity_image_block.row .serendipity_imageComment_right,
.serendipity_image_block.row .serendipity_image_link,
.serendipity_image_block.row > .serendipity_image_left,
.serendipity_image_block.row > .serendipity_image_right {
    min-width: 100px;
    max-width: 260px;
}
/* direct item styles forced */
.serendipity_image_block.row > .serendipity_image_left,
.serendipity_image_block.row > .serendipity_image_right {
    max-width: 260px !important; /* since having to force the inline style */
}
/* Workaround styles for older Chrome. Direct images manually wrapped inside a simple unstyled container - generic div preferred */
.serendipity_image_block.row > div:not([id]):not([class]):not([style]),
.serendipity_image_block.row > span:not([class]):not([style]) {
    min-width: 100px;
    max-width: 260px;
}
/* Gallery-Size: end */

/* Gallery-Margins: the default margins for all default level 1 gallery items (direct containers or direct items) */
.serendipity_image_block > .serendipity_imageComment_left,
.serendipity_image_block > .serendipity_imageComment_right,
.serendipity_image_block > .serendipity_image_link,
.serendipity_image_block > .serendipity_image_left,
.serendipity_image_block > .serendipity_image_right {
    display: inline-block; /* the former inline does as well but this is better I assume */
    margin: .5em 0 0 0;
}
/* same for manually helper containers */
.serendipity_image_block > div,
.serendipity_image_block > span,
.serendipity_image_block > div .serendipity_image_left,
.serendipity_image_block > div .serendipity_image_right,
.serendipity_image_block > span .serendipity_image_left,
.serendipity_image_block > span .serendipity_image_right {
    display: inline-block; /* the former inline does as well but this is better I assume */
    margin: .5em 0 0 0;
}
.serendipity_image_block > .serendipity_image_left,
.serendipity_image_block > .serendipity_image_right,
.serendipity_image_block  .serendipity_image_link {
    margin: .5em 0 0 0; /* no display here! */
}
/* already defined gallery image_blocks without col or row defines */
.serendipity_image_block:not(.col):not(.row) > .serendipity_image_left,
.serendipity_image_block:not(.col):not(.row) > .serendipity_image_right {
    margin: .5em .5em 0 0;
}
/* Gallery-Margins: end */

/* webkit (all) hack */
.serendipity_image_block.row > .serendipity_imageComment_left .serendipity_image_link:not(*:root) {
    display: table-row; /* A Chrome fix to automatically size the link (level 2) container without any additionally thrown space around the inner scaled image */
}

/* Gallery-Container: by columns, vertically ordered, screen sized 3:2:1 and 4:3:2 */
/* SMALL SCREENS */
.serendipity_image_block.col {
    column-count: 1;
    column-gap: .187rem;/*3*/
    justify-content: space-evenly;
}
.serendipity_image_block.col.c4 {
    column-count: 2;
}
.serendipity_image_block.col .serendipity_image_link .serendipity_image_left {
    margin: auto auto .187rem;
}
/* MEDIUM SCREENS 92% of media screen 480px */
@media only screen and (min-width: 455px) {
    .serendipity_imageComment_img {
        display: inline-block;
    }
    .serendipity_image_block.col picture {
        display: inline-block;
    }
    .serendipity_image_block.col {
        column-count: 2;
        column-gap: .312rem;/*6*/
    }
    .serendipity_image_block.col.c4 {
        column-count: 3;
    }
    .serendipity_image_block.col .serendipity_image_link .serendipity_image_left {
        margin: auto auto .5em;
    }
    source.serendipity_image_center {
        margin: .25em;
    }
}
@media only screen and (min-width: 568px) {
    .serendipity_image_block:not(.row) {
        margin: 1rem auto 1rem; }
}
/* DEFAULT SCREENS 92% of media screen 768px */
@media only screen and (min-width: 728px) {
    .serendipity_image_block.col {
        display: inline-block;
        max-width: 100%;
    }
    .serendipity_image_block.col {
        column-gap: .5rem;/*9*/
        column-fill: balance;
    }
    .serendipity_image_block.col.c2 {
        column-count: 2;
    }
    .serendipity_image_block.col.c3 {
        column-count: 3;
    }
    .serendipity_image_block.col.c4 {
        column-count: 4;
    }
}
/* DEFAULT SCREEN COL4 92% of 1024px */
@media only screen and (min-width: 942px) {
    .serendipity_image_block.col.c4 {
        column-count: 4;
    }
}
.serendipity_image_block.col .serendipity_imageComment_left,
.serendipity_image_block.col.c2 .serendipity_imageComment_left,
.serendipity_image_block.col .serendipity_imageComment_right,
.serendipity_image_block.col.c2 .serendipity_imageComment_right,
.serendipity_image_block.col .serendipity_image_link,
.serendipity_image_block.col.c2 .serendipity_image_link,
.serendipity_image_block.col > .serendipity_image_left,
.serendipity_image_block.col.c2 > .serendipity_image_left,
.serendipity_image_block.col > .serendipity_image_right,
.serendipity_image_block.col.c2 > .serendipity_image_right {
    display: table;
    vertical-align: middle;
    margin: auto;
    float: unset;
}
/* Gallery-Columns: end */
