/**
 * Adds custom Serendipity image float styles to CKEDITOR Plus plugin wysiwyg-mode v.1.14 on 2020-04-02 11:38
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
a > img { outline: 0 none; }

img,
audio, video,
embed, object { max-width: 100%; }

img, video { height: auto; }

hr {
    clear: both;
    display: block;
    margin-bottom: 1.5rem
}
p > a.serendipity_image_link {
    display; initial;
}
p > img.serendipity_image_left,
p > img.serendipity_image_right {
    display: table-cell;
}
.cke_widget_wrapper {
    display: inline-block;
}

.serendipity_image_left,
.serendipity_image_right,
.serendipity_image_center,
.serendipity_imageComment_center,
.serendipity_imageComment_left,
.serendipity_imageComment_right {
    background: transparent;
    border: 0 none;
    padding: 0 !important;
}

.serendipity_image_left,
.serendipity_image_right,
.serendipity_imageComment_left,
.serendipity_imageComment_right {
    display: block;
    float: none;
    margin: 0 0 1em;
}

.serendipity_image_center {
    display: block;
    margin: 0 auto 1em;
}

.serendipity_imageComment_center {
    clear: both;
    display: block;
    margin: 0 auto 1em;
}

.serendipity_imageComment_img img {
    border: none !important;
    margin: 0 !important;
    outline: 0 none;
}

/* Auto scales 400px left and right oriented image thumbs with floated text - DOES NOT touch smaller defined images, which is perfect! */
.cke_editable .serendipity_imageComment_left,
.cke_editable .serendipity_imageComment_right,
.cke_editable p .serendipity_image_left,
.cke_editable p .serendipity_image_right {
    max-width: 46%; }

.cke_editable .serendipity_imageComment_center {
    width: auto;
    max-width: 100%;
    display: block; /* force overwrite delivered inline styles */
}
/* Awaiting a thumb size of 400px or more, inclusive the size of all given containers, like ckeditor, form, etc., we set this 5o 483px which expands thumbs to 400px.
   Set back to a block element for big screens, since we don't want the commentbox to expand into space. This was tested with an image of 1000px width. Others may vary! */
@media screen and (min-width: 483px) {
    .serendipity_imageComment_txt {
        width: 100%;
        margin: 0 -2px;
    }
}

.serendipity_imageComment_txt {
    border-top: 0 none;
    color: #222;
    font-size: .8125em;
    line-height: 1.8462;
    padding: .2301em;
    text-align: center;
}

.serendipity_imageComment_img {
    margin: 2px; }
@media screen and (min-width: 768px) {
  .serendipity_imageComment_img {
    margin: 4px 2px auto; }
}
/* The image parent comment box responsiveness for mobile screens - touches all: old styled and new "figure" styled. */
.serendipity_imageComment_center,
.serendipity_imageComment_left,
.serendipity_imageComment_right {
    display: block;
    height: auto;
    width: auto;
}

/* No 100% max as of certain grids */
.serendipity_image_left,
.serendipity_image_right {
    max-width: 99.9%;
}

.serendipity_image_left {
    float: left;
    margin: 0 1em .5em 0;
}

.serendipity_image_right {
    float: right;
    margin: 0 0 .5em 1em;
}

.serendipity_imageComment_left {
    display: inline;
    float: left;
    margin: 0 1em .5em 0;
}

.serendipity_imageComment_right {
    display: inline;
    float: right;
    margin: 0 0 .5em 1em;
}

/* Gallery-Container: default (fallback for no rows, no cols - no initial width here) */
.serendipity_image_block {
    display: inline-block;
    width: 100%;
}
.serendipity_image_block .serendipity_image_link {
    display: block; /* Chromium: Start a new block ! */
}
.serendipity_imageComment_center .serendipity_imageComment_img {
    padding-top: 4px;
}
.serendipity_image_link {
    display: initial;
}
.serendipity_imageComment_img > .serendipity_image_link {
    display: inline-block;
}
/* reset inside */
.serendipity_image_block .serendipity_imageComment_center .serendipity_imageComment_img {
    padding: 0;
}

.serendipity_image_block:not(.col):not(.row) .serendipity_image_link {
    display: inline-block;
}
/* Gallery-Container: default (fallback for rows) */
.serendipity_image_block.row {
    display: inline-block;
}

/* Gallery-Container: per row order, flexed */
/* This is used to enclose a gallery, using serendipity_image_left or _right floated images */
.serendipity_image_block.row {
    clear: both;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/* Gallery-Size: This sizes the origin single-line image gallery to be used as a real multi-item image container */
.serendipity_image_block.row {
    flex: auto;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-flow: row wrap;
    align-items: flex-start; /* the default is stretch, internally used by Chrome when flexing direct child images */
    justify-content: space-around; /* IE10+ CSS fallback, since -evenly not supported */
    justify-content: space-evenly;
    margin-bottom: 1em;
}

/* The inline containers or items min/max size to scale gallery images to a affordable size */
.serendipity_image_block.row .serendipity_imageComment_left,
.serendipity_image_block.row .serendipity_imageComment_right,
.serendipity_image_block.row .serendipity_image_link,
.serendipity_image_block.row > .serendipity_image_left,
.serendipity_image_block.row > .serendipity_image_right {
    width: auto;
    max-width: 260px;
    margin: auto;
}

/* Workaround styles for older Chrome. Direct images manually wrapped inside a simple non-styled container - generic div preferred */
.serendipity_image_block.row > div:not([id]):not([class]):not([style]),
.serendipity_image_block.row > span:not([class]):not([style]) {
    width: auto;
    max-width: 260px;
}
/* This is not possible automatically, but may be a customized "mid-flooted" set for rowed galleries */
.serendipity_image_block.row > figure.serendipity_imageComment_center {
    width: auto;
    max-width: 260px;
}

/* Gallery-Container: default mobile for cols - starting with img default size >= 400px will initiate their own */
@media only screen and (max-width: 399px) {
    .serendipity_image_block.col {
        display: initial; }
}

/* Gallery-Container: by columns, vertically ordered, screen sized 3:2:1 and 4:3:2 */
/* SMALL SCREENS */
.serendipity_image_block.col {
    column-count: 1;
    column-gap: .187rem;/*3*/
    justify-content: space-evenly;
}
.serendipity_image_block.col.c4 {
    column-count: 2;
}
.serendipity_image_block.col .serendipity_image_link .serendipity_image_left {
    margin: auto auto .187rem;
}
@media only screen and (min-width: 400px) {
    .serendipity_image_block.col.c3 {
        column-count: 2;
        column-gap: .312rem;/*6*/
        width: auto;
    }
}
.serendipity_image_block > div {
    display: block;
    margin: auto;
}
/* MEDIUM SCREENS */
@media only screen and (min-width: 552px) {
    .serendipity_image_block.col:not(.c3):not:(.c4) {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .serendipity_image_block.col {
        column-count: 2;
        column-gap: .312rem;/*6*/
        display: block;
    }
    .serendipity_image_block.col.c3 {
        display: inline-block;
        width: 100%;
    }
    .serendipity_image_block.col.c4 {
        column-count: 3;
        display: inline-block;
    }
    .serendipity_image_block.col .serendipity_image_link .serendipity_image_left {
        margin: auto 0.5px .5em;
        float: none;
    }
}
/* DEFAULT SCREENS */
@media only screen and (min-width: 768px) {
    .serendipity_image_block.col {
        column-gap: .5rem;/*9*/
        column-fill: balance;
    }
    .serendipity_image_block.col.c2 {
        column-count: 2;
    }
    .serendipity_image_block.col.c3 {
        column-count: 3;
    }
    .serendipity_image_block.col.c4 {
        column-count: 4;
    }
}
.serendipity_image_block.col .serendipity_imageComment_left,
.serendipity_image_block.col .serendipity_imageComment_right,
.serendipity_image_block.col .serendipity_image_link,
.serendipity_image_block.col .serendipity_image_left,
.serendipity_image_block.col .serendipity_image_right {
    vertical-align: middle;
    margin: auto auto .25em;
    float: unset;
}
.serendipity_image_block.col .serendipity_image_link,
.serendipity_image_block.col .serendipity_image_left,
.serendipity_image_block.col .serendipity_image_right {
    margin: auto 0.5px .25em;
}

.serendipity_image_block.col .serendipity_imageComment_left,
.serendipity_image_block.col .serendipity_imageComment_right {
    display: inline-block;
    max-width: 100%;
}
/* Gallery-Columns: end */
